html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
img,
a,
p,
span {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}
ul {
	list-style: none;
}
html,
body {
	height: 100%;
}
.page-holder {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
img {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}
body {
	font-family: "Raleway", sans-serif;
	color: #fff;
}

.container {
	width: 100%;
	max-width: 1194px;
}

.navbar {
	min-height: 100px;
}
.navbar-brand {
	position: relative;
}
.navbar-brand img {
	position: relative;
	z-index: 2;
}
.navbar-brand::before {
	content: "";
	position: absolute;
	top: 9px;
	left: 4px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 16.5px 29px 16.5px;
	border-color: transparent transparent #00e1fd transparent;
	z-index: 1;
}
.navbar-light .navbar-nav .nav-link {
	transition: all 0.3s linear;
}

.navbar-light .navbar-nav .nav-link:hover {
	transition: all 0.3s linear;
	color: #00e1fd;
}
.nav-link {
	position: relative;
	transition: all 0.4s linear;
}
.nav-link::after {
	content: "";
	position: absolute;
	bottom: -30px;
	left: 0;
	width: 100%;
	height: 2px;
	transition: all 0.3s linear;
}
.nav-link:hover::after {
	background-color: #00e1fd;
	transition: all 0.3s linear;
}
.nav-item {
	margin-right: 30px;
}
.nav-item:last-child {
	margin-right: 0;
}

.banner {
	background-color: #252726;
	padding: 280px 0;
}
.banner__title {
	font-size: 60px;
	line-height: 1;
	font-weight: 200;
	margin-bottom: 30px;
}

.btn-banner {
	min-width: 170px;
	vertical-align: middle;
	border-radius: 0;
	padding-top: 12px;
	padding-bottom: 12px;
}

.services {
	padding: 130px 0;
}
.services__img {
	margin-bottom: 50px;
}

.services__title {
	position: relative;
	color: #3f4244;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 45px;
}

.services__title::before {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 50%;
	transform: translateX(-50%);
	width: 70px;
	height: 2px;
	background-color: #00e1fd;
}

.services__text {
	color: #929ba0;
}

.choice {
	padding: 50px 0px 0px 0px;
	background-color: #f7f7f7;
	height: 575px;
	overflow-y: hidden;
}
.tab {
	margin-bottom: 85px;
}

.tab button {
	font-weight: 500;
	color: #3f4244;
	background-color: inherit;
	float: left;
	border: 1px solid #ccc;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}

.tab button.active {
	border: 1px solid #00e1fd;
}

.tabcontent {
	display: none;
}

.tab button {
	width: 100%;
}

.tabcontent__btn {
	border-radius: 0;
	min-width: 170px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.tabcontent__description {
	padding-top: 35px;
}

.tabcontent__title {
	font-size: 40px;
	color: #3f4244;
	margin-bottom: 30px;
}

.tabcontent__text {
	font-size: 15px;
	font-weight: 300;
	color: #3f4244;
	margin-bottom: 30px;
}
.tabcontent__inner--left {
	flex-direction: row-reverse;
}

.tablinks {
	position: relative;
}

.tablinks.active::before {
	content: "";
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: rotate(-45deg) translateX(-50%);
	width: 12px;
	height: 12px;
	background-color: #f7f7f7;
	border-left: 1px solid #00e1fd;
	border-bottom: 1px solid #00e1fd;
}

.clean-design {
	padding-top: 100px;
	background-color: #252726;
	overflow-y: hidden;
}
.clean-design__title {
	position: relative;
	font-size: 40px;
	font-weight: 400;
	margin-bottom: 60px;
}
.clean-design__title::before {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 50%;
	transform: translateX(-50%);
	width: 170px;
	height: 2px;
	background-color: #00e1fd;
}

.clean-design__text {
	font-size: 13px;
	font-weight: 300;
	margin-bottom: 120px;
}

.clean-design__image {
	width: 100%;
	max-width: 1000px;
	margin-bottom: -50px;
}

.path-brand {
	padding-top: 120px;
}
.path-brand__title {
	font-size: 17px;
	color: #3f4244;
	margin-bottom: 15px;
}

.path-brand__text {
	font-size: 13px;
	color: #929ba0;
	margin-bottom: 15px;
}

.path-brand__link {
	font-size: 13px;
	font-weight: 300;
	color: #00e1fd;
}

.path-brand__date {
	font-size: 13px;
	font-weight: 300;
	color: #c8cdce;
}

.watching-video {
	background-color: #252726;
	color: #fff;
	padding: 190px 0px 170px 0px;
}

.watching-video__title {
	position: relative;
	font-size: 40px;
	font-weight: 400;
	margin-bottom: 50px;
}

.watching-video__title::before {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 50%;
	transform: translateX(-50%);
	width: 170px;
	height: 2px;
	background-color: #00e1fd;
}

.watching-video__text {
	font-size: 13px;
	margin-bottom: 60px;
}
.watching-video span {
	display: block;
	margin-bottom: 15px;
}
.watching-video__play {
	position: relative;
	display: inline-block;
	width: 45px;
	height: 45px;
	border: 3px solid #fff;
	border-radius: 50%;
	background: transparent;
}
.watching-video__play::before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-25%) translateY(-50%);
	border-right: 8px solid transparent;
	border-left: 15px solid #fff;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}

.statistics {
	background-color: #131316;
	padding: 80px 0px 80px 0px;
}

.statistics__image {
	margin-bottom: 50px;
	min-height: 70px;
}
.statistics__number {
	margin-bottom: 20px;
	opacity: 0;
}
.statistics__text {
	font-size: 13px;
	font-weight: 500;
}

.team {
	padding: 95px 0px 95px 0px;
}
.team__title {
	position: relative;
	font-size: 40px;
	color: #3f4244;
	font-weight: 400;
	margin-bottom: 60px;
}
.team__title::before {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 50%;
	transform: translateX(-50%);
	width: 170px;
	height: 2px;
	background-color: #00e1fd;
}
.team__text {
	font-size: 13px;
	color: #444444;
}

.team__img {
	position: relative;

	cursor: pointer;
}
.overlay {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 55px;
	background-color: #131316;
	opacity: 0.5;
	overflow: hidden;
	transition: 0.5s ease;
	text-align: center;
}
.overlay__name {
	font-size: 20px;
	font-weight: 500;
	color: #00e1fd;
}
.overlay__position {
	font-size: 13px;
	font-weight: 500;
	color: #fff;
}
.team__img:hover .overlay {
	opacity: 0.9;
}
.team__description {
	margin-bottom: 90px;
}
.team__desc {
	padding: 30px 25px 25px 25px;
	background-color: #f7f7f7;
}
.team__text {
	font-weight: 300;
	color: #929ba0;
}
.social {
	border-top: 2px solid #fff;
	font-size: 13px;
}
.social__link {
	position: relative;
	width: 66px;
	height: 56px;
	background-color: #36609e;
	font-size: 23px;
	color: #fff;
	transition: all 0.35s;
}

.social__link::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.social__link:hover {
	background-color: #fff;
	border: 5px solid #36609e;
}

.about {
	background-color: #f7f7f7;
	padding: 90px 0px;
}
.about .about__image {
	width: 100%;
	max-width: 570px;
	min-height: 300px;
	background-color: #252726;
}

.about__content {
	padding: 35px 25px 35px 25px;
	border: 1px solid #c8cdce;
}

.about__title {
	font-size: 20px;
	font-weight: 500;
	text-transform: capitalize;
	color: #3f4244;
	margin-bottom: 40px;
}

.about__text {
	font-size: 13px;
	color: #929ba0;
	margin: 0px 0px 15px 0px;
}

.about__text:last-child {
	margin: 0px 0px 0px 0px;
}

.voice-message {
	background-color: #252726;
	padding: 90px 0px 175px 0px;
}

.voice-message__sound {
	position: relative;
	width: 36px;
	height: 36px;
	border: 3px solid #00e1ff;
	border-radius: 50%;
	cursor: pointer;
}

.voice-message__sound::after,
.voice-message__sound::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
}
.voice-message__sound::before {
	transform: translate(-50%, -50%);
	width: 23px;
	height: 23px;
	background-color: #00e1ff;
	border-radius: 50%;
}
.voice-message__sound::after {
	transform: translate(-30%, -50%);
	border-left: 9px solid #fff;
	border-right: 0px solid transparent;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}

.voice-message__title {
	font-size: 20px;
	font-weight: 400;
	margin: 0px 0px 15px 0px;
}

.voice-message__name {
	font-size: 13px;
	font-weight: 300;
}

.voice-message__slider .slick-arrow {
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: transparent;
	font-size: 0;
	outline: none;
	border: 2px solid #fff;
	transition: all 0.3s ease;
}
.voice-message__slider .slick-arrow:hover {
	background-color: #00e1ff;
	border: none;
	transition: all 0.3s ease;
}

.voice-message__slider .slick-next::before,
.voice-message__slider .slick-prev::before {
	content: "";
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 10px;
	height: 16px;
}

.voice-message__slider .slick-prev::before {
	left: 47%;
	background-image: url(../img/arrow-left.png);
}

.voice-message__slider .slick-next::before {
	left: 54%;
	background-image: url(../img/arrow-right.png);
}

.voice-message__slider .slick-next {
	left: 200px;
	bottom: -60px;
}
.voice-message__slider .slick-prev {
	left: 142px;
	bottom: -60px;
}

.news {
	padding: 90px 0px 90px 0px;
}

.news__header {
	margin-bottom: 50px;
}
.news__title {
	position: relative;
	font-size: 40px;
	font-weight: 400;
	color: #3f4244;
	margin-bottom: 50px;
}
.news__title::before {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 50%;
	transform: translateX(-50%);
	width: 170px;
	height: 2px;
	background-color: #00e1fd;
}

.news__text {
	font-size: 13px;
	color: #929ba0;
}

.news__date {
	font-size: 60px;
	color: #00e1ff;
}

.news__month {
	color: #929ba0;
}

.news__description {
	font-size: 13px;
	color: #929ba0;
	margin-bottom: 70px;
	padding-top: 30px;
}

.articles__paper {
	position: relative;
	border-bottom: 2px solid #edf2f6;
}
.news__link {
	position: absolute;
	right: 10px;
	bottom: 10px;
	display: block;
	text-align: right;
	font-size: 13px;
	font-weight: 600;
	color: #00e1ff;
}

.design {
	padding: 200px 0px 170px 0px;
	background-color: #252726;
}

.design__inner {
	position: relative;
}
.design__image {
	position: absolute;
	top: -53px;
	left: -35px;
}

.design__title {
	position: relative;
	font-size: 25px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 60px;
}
.design__title::before {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 70px;
	height: 2px;
	background-color: #00e1fd;
}

.design__text {
	font-size: 13px;
	font-weight: 300;
}

.reviews {
	padding: 90px 0px 90px 0px;
}
.reviews__top {
	margin-bottom: 90px;
}
.reviews__title {
	position: relative;
	font-size: 40px;
	font-weight: 400;
	color: #3f4244;
	margin-bottom: 50px;
}

.reviews__title::before {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 50%;
	transform: translateX(-50%);
	width: 170px;
	height: 2px;
	background-color: #00e1fd;
}
.reviews__text {
	font-size: 13px;
	color: #929ba0;
}

.client__item {
	border: 1px solid #cdced0;
	padding: 45px 30px 45px 30px;
}

.client__name {
	font-size: 20px;
	font-weight: 400;
	color: #3f4244;
	text-transform: capitalize;
	margin-bottom: 10px;
}

.client__position {
	font-size: 13px;
	color: #00e1ff;
	margin-bottom: 30px;
}

.client__message {
	font-size: 13px;
	color: #929ba0;
}

.subscribe {
	background-color: #252726;
	padding: 90px 0px 90px 0px;
}

.subscribe__title {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 40px;
}

.subscribe__btn {
	display: inline-block;
	vertical-align: middle;
	padding: 12px 10px 12px 10px;
	width: 100%;
	max-width: 170px;
	text-align: center;
	color: #fff;
	border: 1px solid #00e1ff;
	transition: all 0.3s ease;
}

.subscribe__btn:hover {
	color: #000;
	background-color: #fff;
	border: 1px solid #fff;
	transition: all 0.3s ease;
}

.footer {
	background-color: #131316;
	padding: 40px 0px 40px 0px;
}

.footer__copy {
	font-size: 15px;
	text-transform: capitalize;
}

.footer__copy span {
	color: #00e1ff;
}
